@keyframes glowing {
    0% {
      box-shadow: 0 0 5px #ff00ff;
    }
    50% {
      box-shadow: 0 0 5px #ff00ff, 0 0 20px #ff00ff;
    }
    100% {
      box-shadow: 0 0 5px #ff00ff;
    }
  }
  
  .glowing-border {
    animation: glowing 2s ease-in-out infinite;
  }
  
  